<!DOCTYPE html>
<html lang="en">
<!-- <head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" /><link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />


    <script src="scripts/jquery-3.4.1.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script> -->
<!--Slider CSS-->
<!-- <link rel="stylesheet" type="text/css" href="styles/slick/slick.css" /><link rel="stylesheet" type="text/css" href="styles/slick/slick-theme.css" />  -->
<!--Animate on Scroll-->
<!-- <link href="/Content/bootstrap.css" rel="stylesheet"/>  -->

<link rel="stylesheet" href="../static/Site.css" th:href="@{Site.css}"/>

<!--<link rel="stylesheet" href="../static/cookieconsent.css" th:href="@{cookieconsent.css}"/>-->

<!--<link href="../static/aos-master/dist/aos.css" rel="stylesheet" type="text/css" th:href="@{aos.css}"/>-->
<!-- <scrip?t src="aos-master/dist/aos.js"></script>  -->
<title>
    CCL Design - Brand Protection &amp; Security Labels
</title>
<!-- </head> -->
<body>
<div class="rowhex">

    <h1 class="heading6">Modern Anti-Counterfeit Programs</h1>
    <h2 style="text-align: center;">Combine physical &amp; digital solutions</h2>
    <div class="hexcontainer">
        <img data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000" data-aos-delay="2000" src="../static/images/bphex.png" class="heximg aos-init aos-animate">
        <img data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000" data-aos-delay="2000" src="../static/images/securetrack-mobile-label-authentication.png" class="hexphone aos-init aos-animate">
        <div data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000" data-aos-delay="1500" class="hextitlecontainer aos-init aos-animate">
            <p class="hextitle">Physical - Overt/Covert</p>
        </div>
        <div data-aos="zoom-in" data-aos-delay="500" class="hexagon hexagonleft aos-init aos-animate">
            <p class="hexp hexpmargin">Security Label</p>
            <p class="hexp">Hologram</p>
        </div>
        <div data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-delay="700" class="hexagon hexagonright aos-init aos-animate">
            <p class="hexp hexpmargin">Serialisation</p>

        </div>
        <div data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" data-aos-delay="1500" class="hextitlecontainer aos-init aos-animate">
            <p class="hextitle">Digital - Smartphone</p>
        </div>
    </div>
    <div class="hexcontainer2">
        <div data-aos="zoom-in" data-aos-easing="ease-out-cubic" class="hexagon hexagonleft aos-init aos-animate">
            <p class="hexp hexpmargin">Tamper Evidence</p>
        </div>
        <div class="hexagon">
        </div>
        <div data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-delay="900" class="hexagon hexagonright aos-init aos-animate">
            <p class="hexp hexpmargin2">Track &amp; Trace</p>
            <p class="hexp">Data Analytics &amp; Dashboards</p>
        </div>
    </div>
    <div class="hexcontainer3">
        <div data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-delay="1300" class="hexagon hexagonleft aos-init aos-animate">
            <p class="hexp hexpmargin">Taggants</p>
            <p class="hexp">UV &amp; Security Inks</p>
        </div>
        <div data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-delay="1100" class="hexagon hexagonright aos-init aos-animate">
            <p class="hexp hexpmargin">Data in Hardware or Cloudbased</p>
        </div>
    </div>

    <p data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-offset="200" class="hexp2 aos-init">CCL Design Authentication offers adaptive solutions that not only enable a brand to protect its product revenues and reputation, but also create engaging consumer experiences, interaction and trust.</p>
</div>
</body>
</html>